{% extends "base.html" %}

{% block title %} Случайные места {% endblock%}

{%block content%}
    <h4>Не можешь выбрать где поесть?<br>Введи свой город, найди {{ config.PLACES_COUNT }} абсолютно случайных кафе/рестораны и выбирай уже из них!</h4>
    <form action="/" method="POST">
        <div class="input-group w-50">
            <input type="text" class="form-control" name="city" placeholder="Город">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                <output name="countShow">5 штук</output>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <input class="form-range" type="range" name="count" min="5" max="50" value="5" step="5" oninput="this.form.countShow.value=this.value + ' штук'"/>
                </li>
            </ul>
            <button type="submit" class="btn btn-primary">Поиск</button>
        </div>
    </form>
    {% if alert_text %}
        <p class="alert">
            {{ alert_text }}
        </p>
    {% endif %}
{% endblock%}
